ion-grid {
    height: 100%;
    ion-col {
        ion-toolbar {
            width: 100%;
            ion-button {
                width: 33%;
            }
        }
    }
    ion-row.outlet {
        min-height: 100%;
        height: 100%;
        ion-col {
            height: 100%;
        }
    }
}