<ion-content padding
  fullscreen="true">

          <form (ngSubmit)="login()">
              <ion-list>
                  <ion-item>
                      <ion-label color="primary" position="stacked">Correo electrónico</ion-label>
                      <ion-input type="text" placeholder="ingrese su correo electrónico"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label color="primary" position="stacked">Clave de acceso</ion-label>
                      <ion-input type="password" placeholder="ingrese su clave de acceso"></ion-input>
                  </ion-item>
              </ion-list>
              <ion-button type="submit" size="large" expand="block">Ingresar</ion-button>
            </form>


<footer text-right>
  &copy; <a href="http://amanecible.com">amanecible.com</a> 2018
</footer>

</ion-content>
